<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/headData') %> <%# For including the common font,styles
    and Js %>
  </head>
  <body>
    <%- include('includes/header') %> <%# for including the header %> <%-
    include('includes/mobile-drawer') %> <%# For including the side drawer %>
    <main>
      <h1>Something went wrong!</h1>
      <p>Unfourtunately,something went wrong on the server -we are trying to fix it.</p>
    </main>
  </body>
</html>
